// fonts
$font-main: 'Oswald', sans-serif;

// colors
$color-bg: #85a0bb;
$color-secondary: #ffc0cb;
$color-search: #65a2df;
$color-searchInput: #65a2df71;
$color-other: #4a2222;
$color-remove: #19b75b;
$color-remove-secondary: #ff0303a5;