@use '../core/variables' as vars;
@use '../core/reset' as reset;

body {
    padding: 2rem;
    height: 100vh;
    background-color: vars.$color-bg;
    font-family: vars.$font-main;
    font-size: 16px;
}
.left_side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.search_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px, solid, black;
    padding: 1rem;
}
.results_ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 2rem;
}
.list{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px, dashed, black;
    padding: 1rem;
    width: 250px;
}
.list > h3, img{
    max-width: 200px;
}

/*
.search_input{
    margin: 2rem;
    padding: 0.5rem;
}
.search_btn{
    margin: 2rem;
}
.hidden{
    display: none;
}*/

.favourite{
    background-color: vars.$color-secondary
}
.fav_ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 1rem;
    background-color: vars.$color-secondary;
}
.fav_ul > li{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.fav_ul > .favourite > img{
    max-width: 100px;
}
.rate{
    font-size: 0.8rem;
    color: rgb(74, 34, 34);
}
.message{
    display: block;
    padding: 2rem 0;
}