<main class="main_page js_main_page">
  <form class="search_form js_search">
    <input class="search_input js_search_input" type="text" name="inputName" id="inputName"placeholsder="">
    <button class="search_btn js_search_btn" type="submit">buscar</button>
    <!--
      Vacío (o fav) hasta el click 
      Click en buscar: conecta al API
      texto escrito en input: URL de búsqueda
    -->
  </form>
  </div class="fav_div js_fav_div">
   
    <!--
    Favoritos
    Cambia fondo/fuente para resaltar que es fav
    a la izq, debajo de formulario de búsqueda, listado de fav
    usar un array para almacenarlas
    al iniciar otra búsqueda, no deben desaparecer
    localStorage almacena favoritos (y los muestra desde el inicio)
    BONUS: 
      - X para borrar fav
      - resaltar en búsqueda si ya es fav
      - borrar todos los fav con un botón
    -->
  </div>
  <div class="results_div js_results_div">
    <ul class="card_results js_card_results">
      <li class="card js_card">
        <h3>United States</h3>
        <img src="https://static.tvmaze.com/uploads/images/medium_portrait/90/225449.jpg">
      </li>
    </ul>
    <!--
    listado de resultados
      cada resultado: tarjeta con título e imagen
      si no hay imagen: imagen de relleno (placeholder.com)
    -->
  </div>
</main>

