<main>
  <div class="left_side">
  <form class="search_form js_search">
    <h3>Search your titles here:</h3>
    <input class="search_input js_search_input" type="text" name="inputName" id="inputName" placeholder="">
    <button class="search_btn js_search_btn" type="submit">🕵🏻Click!</button>
  </form>
  <div class="fav_div js_fav_div">
    <h3 class="message js_fav_message"></h3>
    <ul class="fav_ul js_fav_ul">
      <!--
      BONUS: 
        - X para borrar fav
        - resaltar en búsqueda si ya es fav
        - borrar todos los fav con un botón
      -->
    </ul>
  </div>
  </div>
  <div class="results_div js_results_div">
    <h3 class="message js_result_message"></h3>
    <ul class="results_ul js_results_ul">
    </ul>
  </div>
</main>