<main>
  <form class="search_form js_search">
    <input class="search_input js_search_input" type="text" name="inputName" id="inputName"placeholder="">
    <button class="search_btn js_search_btn" type="submit">buscar</button>
  </form>
  <div class="fav_div js_fav_div">
    <h3>Your favourites shows:</h3>
    <ul class="fav_ul js_fav_ul">
      <!--
      Favoritos
      Cambia fondo/fuente para resaltar que es fav
      a la izq, debajo de formulario de búsqueda, listado de fav
      usar un array para almacenarlas
      al iniciar otra búsqueda, no deben desaparecer
      localStorage almacena favoritos (y los muestra desde el inicio)
      BONUS: 
        - X para borrar fav
        - resaltar en búsqueda si ya es fav
        - borrar todos los fav con un botón
      -->
    </ul>
  </div>
  <div class="results_div js_results_div">
    <h3 class="js_results_h3"></h3>
    <ul class="results_ul js_results_ul">
    </ul>
  </div>
</main>

